<!doctype html>
<html>
<head>
	<title>Danh sách bạn</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	
</head>

<body background="bg.png">
	<div id="header">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<a class="navbar-brand" href="/">MY WEBCHAT</a>
			<ul class="nav navbar-nav">
				<li>
					<a  href ="/profile">Danh sách tin nhắn </a>
				</li>
				<li class="active">
					<a  href ="/friend">Danh sách bạn </a>
				</li>
				<li>
					<a href ="/sended">Tin đã gửi </a>
				</li>
				<li style="margin-left: 400px;color: white;">
					<a> Tài khoản của bạn: <%= user.local.email %></a>
				</li>
				<li>
					<a class="nav navbar-nav" href="/logout">Thoát</a>
				</li>
			</ul>
		</div>

		<br/>
<div id="container">

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-hand-right"></span> Xin chào!!</b>

				</div>
				<strong >  Chào <%= user.local.email %></strong><br><br>
				<ul>
					<li>
						<a href="/chat" > Gửi tin nhắn mới</a>
					</li>
					<li>
						<a href="/profile" > Danh sách tin nhắn</a>
					</li>
					<li>
						<a href="/sended" > Tin đã gửi</a>
					</li>
				</ul>

				</div>
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-phone"></span> Liên hệ:</b>

				</div>

				<ul>
					<li>
						<a href="https://web.facebook.com/htantruc" target="_blank"> Facebook 1</a>
					</li>
					<li>
						<a href="https://web.facebook.com/nguyen.hoangminh.338" target="_blank"> Facebook 2</a>
					</li>
					<li>
						<a href="http://vtweb.byethost16.com/HOME.html" target="_blank"> Trang web</a>
					</li>
				</ul>

				</div>
			</div>

			<div class="col-md-5  ">
			
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-signal"></span> Danh sách bạn bè</b>
				
				</div>

				<table class="table  table-hover table-striped">

					<tr>
						<td><b>Email</b></td>
						<td><b></b></td>
						
					</tr>
					


			</table>
		</div>
		</div>
		<div class="col-md-3  ">
			
				<div class="panel panel-default">
				<div class="panel-heading">
				<b class="panel-title"><span class="glyphicon glyphicon-search"></span> Thêm bạn bè</b>
				
				</div>
				<table class="table">
						<form name = "friendemail" action = "/friend" method="post">
						<tr><% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
        <% } %></tr>
							<tr><td><input type = "email" name="f-email" placeholder="Email bạn bè"></input></td>
				
						
						<td><button type="submit" value="addfriend" style="float:right;"><span class="glyphicon glyphicon-plus" ></span> Thêm bạn</button></td></tr>
						</form>
</table>

		</div>
		</div>
	</div>
	</div>

</div>
<div id="footer">
<div class="container">
<hr>
	<br>	<p style="color: white;">Powered by 1312653-1312696</p>
	<br>
</div>
</div>
	</body>
	</html>