<!doctype html>
<html>
<head>
    <title>My Webchat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body background="bg.png">
    <div id="header">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <a class="navbar-brand" href="/">MY WEBCHAT</a>

        </nav>
    </div>
    <div id="content">
        <div class="header-funnel-b">
            <div class="row">
                <div class="col-md-6 text-center header-funnel-b-left">
                    <h2 style="padding-bottom:36px;"><strong>Đăng nhập</strong></h2>
                    <img src="men.png" width="250px" height="250"/>
                    <h2>Chào mừng bạn đến với WEBCHAT</h2>
                    <p>Đăng nhập để trò chuyện với bạn bè</p>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <strong><a href="/login" class="btn btn-charcoal btn-lg lato bold " style="width:100%;" role="button" data-toggle="modal" data-target="#chatVideoModal"><span class="glyphicon glyphicon-play-circle"></span> Đăng nhập</a></strong>
                        </div>
                       
                    </div>



                </div>
                <div class="col-md-6 text-center header-funnel-b-right" >
                    <h2 style="padding-bottom:36px;"><strong>Đăng kí tài khoản</strong></h2>
                    <img src="signup.png" width="250px" height="243" />
                    <h2>Bạn chưa có tài khoản</h2>
                    <p>Hãy đăng kí để trở thành thành viên của Webchat</p>


                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <a href="/signup" class="btn btn-white-text btn-lg lato bold" style="width:100%;"><span class="glyphicon glyphicon-ok-circle"></span> Tạo tài khoản</a>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>


    


</body>
</html>
